<aside class="me-aside">
    <div class="aside-view">
        <div class="heading"></div>
    </div>
    <div class="aside-content">
        <h2 class="bright-color">Alina Loi</h2>
        <span class="title">JavaScript full-stack developer</span>
        <ul class="contacts">
            <li>
                <span class="contact-title">Skype:</span>
                <span>alina.loi</span>
            </li>
            <li>
                <span class="contact-title">Email:</span>
                <a class="contact-container" href="mailto:me@alinaloi.com">me@alinaloi.com</a>
            </li>
        </ul>
        <div class="icons">
            <a href="https://www.facebook.com/loi.alina" target="_blank">
                <img src="/img/ico/facebook.png">
            </a>
            <a href="https://ua.linkedin.com/in/alinaloi" target="_blank">
                <img src="/img/ico/linkedin.png">
            </a>
            <a href="/files/CV_AlinaLoi_JS.pdf" target="_blank">
                <img src="/img/ico/cv.png">
            </a>
        </div>
    </div>
</aside>

<main class="main-view">
    <div class="main-content full-height">
        <div ui-view class="fade"></div>
    </div>
</main>