<div class="content about-me">
    <div class="container">
        <div class="row">
            <div class="left portrait"></div>
            <div>
                <ul>
                    <li><span class="title">Date of birth:</span><span>24 Jan 1992</span></li>
                    <li><span class="title">City:</span><span>Kharkiv, Ukraine</span></li>
                    <li><span class="title">Hobbies:</span><span>Rock music, dogs, reading</span></li>
                    <li><span class="title">Personal skills:</span><span>Educable, persistent, thoughtful, responsible, loyal</span>
                    </li>
                    <li><span class="title">English level:</span><span>Strong Upper Intermediate</span></li>
                </ul>
            </div>
        </div>
    </div>

    <h3 class="">Education:</h3>

    <div class="container">
        <div class="padding">
            <p>2008-2013: National Technical University "Kharkiv Polytechnic Institute", Bachelor and
                Specialist degrees in
                <a class="noticeable" href="http://web.kpi.kharkov.ua/iks/en_applied-linguistics/">Applied
                    Linguistics</a>.
            </p>
        </div>

    </div>

    <h3>Work experience:</h3>

    <div class="container">
        <div class="row">
            <div class="align-top">
                <h4>Technoligies:</h4>
            </div>
            <div>
                <ul>
                    <li class="compact"><a class="noticeable" target="_blank"
                                           href="https://angularjs.org/">AngularJS</a></li>
                    <li class="compact"><a class="noticeable" target="_blank" href="https://nodejs.org/en/">Node.js</a>
                    </li>
                    <li class="compact"><a class="noticeable" target="_blank" href="http://hapijs.com/">Hapi.js</a></li>
                    <li class="compact"><a class="noticeable" target="_blank"
                                           href="https://github.com/lukehoban/es6features">ES6</a></li>
                    <li class="compact"><a class="noticeable" target="_blank"
                                           href="https://www.mongodb.org/">MongoDB</a></li>
                    <li class="compact"><a class="noticeable" target="_blank"
                                           href="http://docs.sequelizejs.com/en/latest/">Sequelize</a></li>
                    <li class="compact"><a class="noticeable" target="_blank" href="http://sass-lang.com/">Sass</a></li>
                    <li class="compact"><a class="noticeable" target="_blank" href="http://underscorejs.org/">Underscore.js</a>
                    </li>
                    <li class="compact"><a class="noticeable" target="_blank" href="http://momentjs.com/">Moment.js</a>
                    </li>
                    <li class="compact"><a class="noticeable" target="_blank"
                                           href="http://www.idangero.us/swiper/#.VrdUATZ96uU">Swiper.js</a></li>
                    <li class="compact"><a class="noticeable" target="_blank" href="http://gruntjs.com/">Grunt</a></li>
                    <li class="compact"><a class="noticeable" target="_blank" href="https://git-scm.com/">Git</a></li>
                    <li class="compact"><a class="noticeable" target="_blank"
                                           href="http://ionicframework.com/">Ionic</a></li>
                    <li class="compact"><a class="noticeable" target="_blank" href="https://cordova.apache.org/">Cordova(PhoneGap)</a>
                    </li>
                    <li class="compact"><a class="noticeable" target="_blank" href="http://parse.com/">Parse DB</a></li>
                    <li class="compact"><a class="noticeable" target="_blank"
                                           href="https://www.npmjs.com/package/karma">Karma</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="align-top">
                <h4>September 2014 - present:</h4>

                <p>X1Group (Kharkiv, Ukraine)</p>

                <p><a class="noticeable" target="_blank" href="https://www.kreditech.com/">Kreditech</a> project -
                    financial services including online loans, repayments and budget management.</p>
            </div>
            <div>
                <h4>Responsibilities:</h4>
                <ul class="list-circle">
                    <li>Complete feature development: from external services API
                        investigation up to development itself and unit tests
                    </li>
                    <li>Bug fixes</li>
                    <li>Pull request review</li>
                    <li>Monitoring</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="align-top">
                <h4>October 2014, February 2016:</h4>

                <p>Freelance</p>
            </div>
            <div>
                <p>Development of flexible mobile app for different restaurant
                    menus with Admin panel to add/remove/modify items without
                    releasing new versions.</p>

                <p>Example:
                    <a class="noticeable" target="_blank"
                       href="https://play.google.com/store/apps/details?id=com.cafenaamabaykh&hl=en">AppStore</a>,
                    <a class="noticeable" target="_blank"
                       href="https://itunes.apple.com/us/app/menu-naama-bej/id980303457?mt=8">iTunes</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="align-top">
                <h4>May 2011 - August 2014:</h4>

                <p><a class="noticeable" target="_blank"
                      href="https://namecheap.com">Namecheap</a> - domain registration and hosting services.</p>

                <p>(Kharkiv office, Ukraine)</p>
            </div>
            <div>
                <h4>March 2013 - August 2014: "Compliance" Team Lead, software developer.</h4>

                <ul class="list-circle">
                    <li>Development of software for work process automatisation: tools for domains checking, working
                        with blacklists, batch notifications, etc
                    </li>
                    <li>Team workflow overseeing.</li>
                </ul>
                <br/>
                <h4>April 2012 - March 2013: Senior Technical Support Engineer.</h4>
                <ul class="list-circle">
                    <li> Investigation of technical issues
                    </li>
                    <li>Taking care of non-standard requests/issues</li>
                    <li>Reacting to outages</li>
                    <li>Problem solving.</li>
                </ul>
                <br/>
                <h4>May 2011 - April 2012: Technical Support Engineer.</h4>
                <ul class="list-circle">
                    <li>Providing technical assistance.</li>
                </ul>
                <br/>
                <h4>Technologies:</h4>
                <p>​DNS Tools, various IP blacklists and their
                    mirrors, cPanel basics, PHP basics, shell.</p>
            </div>
        </div>

    </div>

</div>

